html {
  box-sizing: border-box;
  height: 100%;
  font-family: TenbyFive;
  scrollbar-width: none;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  height: 100%;
  margin: 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e6e6e6;
}
img,
h1,
h2,
h3 {
  user-select: none;
}
h1,
h2,
h3 {
  text-align: center;
  cursor: pointer;
}
header {
  display: flex;
  flex: 0 0 auto;
  padding: min(1rem, 5vh);
  height: min(75px, 20%);
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: bold;
  box-shadow: 0px 2px 0px 1px white;
  background-color: #14279b;
  color: #e6e6e6;
}
.header_span,
.footer_span {
  text-align: center;
  user-select: none;
}
.header_icon {
  color: #e6e6e6;
  font-size: xx-large;
  margin-right: 1vh;
}
footer {
  display: flex;
  flex: 0 0 auto;
  height: min(75px, 20%);
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  box-shadow: 0px -2px 0px 1px white;
  background-color: #14279b;
  color: #e6e6e6;
}
.footer_icon {
  color: #e6e6e6;
  font-size: x-large;
  margin-right: 1vh;
}
.footer_icon:hover {
  color: white;
  animation: spin 0.5s linear;
}
.center {
  width: 50vw;
  margin: auto;
}
.form_wrapper {
  background-color: white;
}
.card_wrapper,
.form_wrapper {
  padding: 1rem;
  border-radius: 2px;
}
.card_stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  flex: 1 0 45%;
  margin: 5px;
  height: max-content;
  border-radius: 3%;
  border-left-width: 1vw;
  border-left-color: #14279b;
  border-left-style: solid;
  background-color: white;
}
.card_text {
  padding: 0.5rem;
  overflow: hidden;
}
.card_icons {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.card_icons * {
  width: 2rem;
  font-size: 24px;
}
.card_icons *:hover {
  color: lightgray;
  cursor: pointer;
}
p,
h3 {
  margin: 1px auto;
  text-align: center;
}
fieldset {
  margin: 0px;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: #14279b;
  border-width: 4px;
  border-radius: 3px;
}
legend {
  font-size: x-large;
}
input[type="text"] {
  padding: 5px;
  width: 100%;
  border-style: solid;
  border-color: #14279b;
  border-width: 4px;
  border-radius: 3px;
  font-size: x-large;
  color: black;
  font-family: TenbyFive;
  outline: none;
}
label {
  margin: 1% 0px;
  font-size: x-large;
  text-align: left;
}
.button_container {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem auto;
}
.button_container .fa {
  font-size: 2rem;
  color: #14279b;
  margin-right: 1rem;
}
.button_container .fa:hover {
  cursor: pointer;
  color: #8591df;
}
.button {
  width: 100px;
  color: white;
  background-color: #14279b;
  border: 2px solid #14279b;
  border-radius: 5px;
  font-family: TenbyFive;
  font-size: x-large;
  transition: all 1s;
}
.button * {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button:hover {
  cursor: pointer;
  border-color: #8591df;
  box-shadow: inset 100px 0 0 #8591df;
}
.overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000b3;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  position: relative;
  margin: 25vh auto;
  padding: 2rem;
  background: #e6e6e6;
  border-radius: 5px;
  width: 30vw;
  transition: all 0.5s ease-in-out;
}
.close_button {
  position: absolute;
  top: 0;
  right: 1rem;
  transition: all 0.2s;
  font-size: xx-large;
  font-weight: bold;
  text-decoration: none;
  color: #14279b;
}
.close_button:hover {
  color: lightcoral;
}
.popup_content {
  margin-top: 1rem;
  text-align: justify;
}
.clear {
  clear: both;
}
.shady {
  box-shadow: 2px 2px 2px 1px grey;
}
@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .popup {
    width: 50%;
  }
  .center {
    width: 75vw;
    margin: auto;
  }
}
@media only screen and (max-width: 800px) {
  .header_icon,
  header {
    font-size: x-large;
  }
  footer,
  .footer_icon {
    font-size: medium;
  }
  .center {
    width: 95vw;
    margin: auto;
  }
  .card {
    flex: 1 0 90%;
    border-left-width: 0.5rem;
  }
  .button_container .fa,
  .button {
    font-size: x-large;
  }
  .popup {
    width: 70%;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: "TenbyFive";
  src: url("../fonts/tenby-five-webfont.otf"),
    url("../fonts/tenby-five-webfont.eot"),
    url("../fonts/tenby-five-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/tenby-five-webfont.woff2") format("woff2"),
    url("../fonts/tenby-five-webfont.woff") format("woff"),
    url("../fonts/tenby-five-webfont.ttf") format("truetype"),
    url("../fonts/tenby-five-webfont.svg#TenbyFive") format("svg");
  font-weight: normal;
  font-style: normal;
}
